$gradient-color: linear-gradient(190deg, #0856a2, #3c108a);
$main-color: #111111;
$white-color: #ffffff;
$balck-clolr: #000000;
$text-paragraph-color: #707070;
$btn-color: #0856a2;
$date-color: #ff3d55;
$exhibitions-color-section: #3d348d;
$footer-text-color: #999999;
